{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4 display-4 text-primary">
            Detail Information About {{ cook.username }}
        </h1>

        <ul class="list-group mb-4">
            <li class="list-group-item">
                <strong>First Name:</strong> {{ cook.first_name }}
            </li>
            <li class="list-group-item">
                <strong>Last Name:</strong> {{ cook.last_name }}
            </li>
            <li class="list-group-item">
                <strong>Years of Experience:</strong> {{ cook.years_of_experience }}
            </li>
        </ul>

        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'service:cook-delete' pk=cook.id %}" class="btn btn-danger me-3">
                Delete
            </a>
            <a href="{% url 'service:cook-update' pk=cook.id %}" class="btn btn-secondary">
                Update
            </a>
        </div>
    </div>
{% endblock %}
