{% extends "base.html" %}
{% block content %}
    <h1>Detail information about {{ dish.name }}</h1>
    <ul>
        <li><strong>Dish type:</strong> {{ dish.dish_type }}</li>
        <li><strong>Description:</strong> {{ dish.description }}</li>
        <li><strong>Price:</strong> {{ dish.price }}</li>
        <li><strong>Ingredients:</strong>
                {% for ingredient in dish.ingredients.all %}
                    <ul>{{ ingredient.name }}</ul>
                {% endfor %}
        </li>
        <li><strong>Cooks:</strong>
            {% for cook in dish.cooks.all %}
                <ul>
                {{ cook.username }}
                </ul>

            {% endfor %}
        </li>
    </ul>
    <a href="{% url "service:dish-update" pk=dish.id %}"><button class="btn btn-secondary">Update</button></a>
    <a href="{% url "service:dish-delete" pk=dish.id %}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}