{% extends "base.html" %}
{% block content %}
    <h1>Dish list
        <a href="{% url "service:dish-create" %}">
            <button class="btn btn-secondary">Add</button>
        </a>
    </h1>
    {% if dish_list %}
        {% for dish in dish_list %}
           <ul>
           <li>
               <strong>
                   <a href="{% url "service:dish-detail" pk=dish.id %}">{{ dish.name }}</a>
               </strong>
           </li>
           </ul>
        {% endfor %}
    {% endif %}
{% endblock %}