{% extends "base.html" %}

{% block content %}
    <h1>Welcome to restaurant kitchen service</h1>
    <h2>We have:</h2>
    <ul>
        <li>
            <a href="{% url "service:dishtype-list" %}">
                <strong>Dishtypes:</strong>
            </a>
            {{ dish_type }}
        </li>
        <li>
            <a href="{% url "service:dish-list" %}">
                <strong>Dishes:</strong>
            </a>
            {{ dish }}
        </li>
        <li>
            <a href="{% url "service:ingredient-list" %}">
                <strong>Ingredients:</strong>
            </a>
            {{ ingredient }}
        </li>
        <li>
            <a href="{% url "service:cook-list" %}">
                <strong>Cooks:</strong>
            </a>
            {{ cooks }}
        </li>
    </ul>
{% endblock %}